image:
  name: atlassian/default-image:2

jest-test: &jest-test
  step:
    name: Jest Test
    image: node:20-alpine
    script:
    - cd node-pipe
    - npm ci
    - npm test
    services:
    - docker

push: &push
  step:
    name: Push and Tag
    script:
    - ./ci-scripts/docker-release.sh astraube/eslint-report-pipe
    services:
    - docker

pipelines:
  default:
  - <<: *jest-test
  branches:
    main:
    - <<: *jest-test
    - <<: *push
